/* line 1, ../sass/main.scss */
body {
  font-family: 'Times New Roman';
  background: #010012 url(../images/mojorunnin3.png) no-repeat;
  background-position: center top;
}

/* line 7, ../sass/main.scss */
#main-wrapper, #footer {
  width: 810px;
  margin: 0 auto;
  position: relative;
  margin-top: 400px;
}

/* line 14, ../sass/main.scss */
#header {
  background-image: url(../images/header.png);
  height: 200px;
}
/* line 18, ../sass/main.scss */
#header #navi {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  padding-top: 60px;
}
/* line 22, ../sass/main.scss */
#header #navi .home {
  font-size: 38px;
  text-align: center;
}
/* line 26, ../sass/main.scss */
#header #navi .links {
  font-size: 27px;
}
/* line 30, ../sass/main.scss */
#header #navi a {
  text-decoration: none;
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}
/* line 35, ../sass/main.scss */
#header #navi a.current {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

/* line 43, ../sass/main.scss */
#main {
  background-image: url(../images/sheet.jpg);
  width: 797px;
  margin-left: 5px;
  padding-bottom: 20px;
}

/* line 50, ../sass/main.scss */
.custom-row {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 56, ../sass/main.scss */
ul.nav {
  line-height: 1.3;
}

/* line 60, ../sass/main.scss */
.sorry {
  padding-top: 30px;
  text-align: center;
}
/* line 63, ../sass/main.scss */
.sorry p {
  padding-bottom: 10px;
}

/* line 68, ../sass/main.scss */
ul {
  padding-left: 0px;
}
/* line 70, ../sass/main.scss */
ul li {
  list-style: none;
}
/* line 72, ../sass/main.scss */
ul li.author {
  font-family: 'Dosis', sans-serif;
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* line 82, ../sass/main.scss */
.youtube-link:link, .youtube-link:visited, .youtube-link:hover, .youtube-link:focus, .youtube-link:active {
  color: black;
}
/* line 85, ../sass/main.scss */
.youtube-link img {
  height: "25";
  width: "25";
  margin-right: 10px;
}
