/* line 1, ../sass/main.scss */
body {
  font-family: 'Times New Roman';
  background: #010012 url(../images/mojorunnin3.png) no-repeat;
  background-position: center top;
}

/* line 7, ../sass/main.scss */
#main-wrapper, #footer {
  width: 810px;
  margin: 0 auto;
  position: relative;
}

/* line 12, ../sass/main.scss */
#main-wrapper {
  margin-top: 400px;
}

/* line 16, ../sass/main.scss */
#header {
  background-image: url(../images/header.png);
  height: 200px;
}
/* line 20, ../sass/main.scss */
#header #navi {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  padding-top: 60px;
}
/* line 24, ../sass/main.scss */
#header #navi .home {
  font-size: 38px;
  text-align: center;
}
/* line 28, ../sass/main.scss */
#header #navi .links {
  font-size: 27px;
}
/* line 32, ../sass/main.scss */
#header #navi a {
  text-decoration: none;
  color: transparent;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}
/* line 37, ../sass/main.scss */
#header #navi a.current {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

/* line 45, ../sass/main.scss */
#main {
  background-image: url(../images/sheet.jpg);
  width: 797px;
  margin-left: 5px;
  padding-bottom: 20px;
}

/* line 52, ../sass/main.scss */
#footer {
  padding-top: 12px;
}
/* line 54, ../sass/main.scss */
#footer #impressum {
  font-size: 35px;
  float: left;
  padding-left: 2px;
}
/* line 58, ../sass/main.scss */
#footer #impressum a {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
/* line 66, ../sass/main.scss */
#footer #external-links {
  position: absolute;
  right: 8px;
}
/* line 70, ../sass/main.scss */
#footer #external-links #facebook {
  margin-left: 8px;
  float: left;
}
/* line 74, ../sass/main.scss */
#footer #external-links #youtube {
  margin-left: 8px;
  float: left;
}

/* line 81, ../sass/main.scss */
.custom-row {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 87, ../sass/main.scss */
ul.nav {
  line-height: 1.3;
}

/* line 91, ../sass/main.scss */
.sorry {
  padding-top: 30px;
  text-align: center;
}
/* line 94, ../sass/main.scss */
.sorry p {
  padding-bottom: 10px;
}

/* line 99, ../sass/main.scss */
ul {
  padding-left: 0px;
}
/* line 101, ../sass/main.scss */
ul li {
  list-style: none;
}
/* line 103, ../sass/main.scss */
ul li.author {
  font-family: 'Dosis', sans-serif;
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* line 113, ../sass/main.scss */
.youtube-link:link, .youtube-link:visited, .youtube-link:hover, .youtube-link:focus, .youtube-link:active {
  color: black;
}
/* line 116, ../sass/main.scss */
.youtube-link img {
  height: "25";
  width: "25";
  margin-right: 10px;
}
